body{
    font-family: Arial, Arial, Helvetica, sans-serif;
}
H1,H2{
    text-transform: uppercase;
}
.header{
    text-align: center;
    color: #ee00ff;
}
.slogan{
    font-size: 24px;
    font-style: italic;
    text-transform: capitalize;
    color: #91ff01;
}
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid #000000;
}
td.year{
    text-align: center;
    word-spacing: 5px;
}
a{
    text-decoration: none;
    color: #fffb00;
}
img{
    width: 100%;
}